<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find doris_control)/config/doris_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/doris" args="joint_state_controller
            shoulder_yaw_joint_position_controller                         
            shoulder_pitch_joint_up_position_controller
            shoulder_pitch_joint_down_position_controller            
            shoulder_elbow_joint_position_controller 
            elbow_pitch_joint_up_position_controller      
            elbow_pitch_joint_down_position_controller
            gripper_pitch_joint_position_controller   
            hearth_joint_position_controller
            gripper_yaw_joint_position_controller
            gripper_roll_joint_position_controller
            gripper_right_joint_position_controller
            gripper_left_joint_position_controller
            
            right_front_wheel_position_controller
            left_front_wheel_position_controller
            left_back_wheel_position_controller
            right_back_wheel_position_controller
            "/>

  <!--
    elbow1_pitch_joint_position_controller            			  
            elbow2_pitch_joint_position_controller
            gripper_yaw_joint_position_controller
            gripper_yaw_pitch_joint_position_controller
            gripper_left_joint_position_controller
            gripper_right_joint_position_controller
  -->
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/doris/joint_states" />
  </node>


</launch>
